@page "/database"
@inherits FluxorComponent

@using Trackor.Features.Database

@inject IState<DatabaseState> DatabaseState
@inject IDispatcher Dispatcher

<PageTitle>Database</PageTitle>

<MudText Typo="Typo.h4" GutterBottom="true">
    <MudIcon Icon="@Icons.Material.Filled.DataObject" />
    Database
</MudText>

<MudAlert Severity="Severity.Info">
    @if (!string.IsNullOrEmpty(DatabaseState.Value.DownloadUrl))
    {
        <a href="@DatabaseState.Value.DownloadUrl" target="_blank" download="trackor_db.sqlite3">Download DB File</a>
    }
</MudAlert>

@code {
    protected override void OnInitialized()
    {
        Dispatcher.Dispatch(new DatabaseBuildDownloadUrlAction());
        base.OnInitialized();
    }
}
